.navbar-brand{
    font-weight: 700;
    color: #eeeee8;
    font-size: 24px;
    transition: 0.3s color;
    position: relative;
    left: 250px;
    

}
.navbar-brand:hover{
    color: #f1ede6;
}

.navbar{
    height: 80px;
    background: rgb(129, 125, 125);
   
}

.login-button{
    background-color: #161615;
    color: rgb(240, 226, 226);
    font-weight: 600;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover{
    background-color: #f1eee8;
    color: #070706;
}

.navbar-toggler{
    border: none;
    font-size: 1.5rem;
    

}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
    
}

.nav-link{
    color: #1f1a1a;
    font-weight: 700;
    position: relative;
    font-size: 20px;
}

.nav-link:hover, .nav-link:active{
    color: #e7e5e1;
}
    
@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #181615;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        color: black;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
        
    }
   
    

}
@media (max-width: 580px){
    .navbar-brand{
        left: 20px;
        
    
    }

}
@media (max-width: 768px){
    .navbar-brand{
        left: 10px;
        
    
    }

}
@media (max-width: 992px){
    .navbar-brand{
        left: 10px;
        
    
    }

}
@media (max-width: 1200px){
    .navbar-brand{
        left: 10px;
        
    
    }

}
@media (max-width: 1413px){
    .navbar-brand{
        left: 10px;
        
    
    }

}